---
layout: default
---
<!-- <script src="http://jerry-cdn.b0.upaiyun.com/hit-kounter/hit-kounter-0.1.1.js"></script>
访问量：<span data-hk-page="current"> - </span> -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-96115765-1', 'auto');
  ga('send', 'pageview');

</script>

<section>
about me <br /> 
</section>
<section>
<a href="https://fredericklu.github.io/about/">Fred Lu</a> <br/>
<hr />

</section>

<section>
<div align="center">
☟☟☟ 近期关注 ☟☟☟ <br /> 
☟☟☟  <br /> 
☟ <br /> 
<iframe width="560" height="315" src="https://www.youtube.com/embed/bWuJnqDNrQs" frameborder="0" allowfullscreen></iframe>
</div>
</section>

{% for post in site.posts %}
<section class="post">
  <header class="post-header">
    <p class="post-meta">
      <span class="post-date">
        {{ post.date | date: "%-d %b %Y" | upcase }}
      </span>
      {% if post.categories.size > 0 %}
      •
      {% for cat in post.categories %}
        <a class="post-cat" href="{{ site.url }}/categories/#{{ cat }}">{{ cat }}</a>
        {% unless forloop.last %}
        <span>/</span>
        {% endunless %}
      {% endfor %}
      {% endif %}
    </p>
    <h4>
      <a href="{{ site.url }}{{ post.url }}" class="post-title" title="{{ post.title }}">{{ post.title }}</a>
      {% if post.link %}
      <a class="post-title-link" href="{{ post.link }}" target="_blank" title="{{ post.title }}"><i class="fa fa-external-link"></i></a>
      {% endif %}
    </h4>

    {% if post.author %}
      {% assign author = site.data.authors[post.author] %}
    {% else %}
      {% assign author = site.owner %}
    {% endif %}

    </header>

    {% if post.excerpt %}
    <div class="post-description">
      <p>
        {{ post.excerpt }}
      </p>
    </div>
    {% endif %}

    {% if post.image.feature and not post.excerpt%}
    <div class="post-image-feature">
      <img src=
      {% if post.image.feature contains 'http' %}
      "{{ post.image.feature }}"
      {% else %}
      "{{ site.url }}/img/{{ post.image.feature }}"
      {% endif %}
      alt="{{ post.title }} feature image">

      {% if post.image.credit %}
      <span class="image-credit">Photo Credit: <a href="{{ post.image.creditlink }}">{{ post.image.credit }}</a></span>
      {% endif %}
    </div>
    {% endif %}

</section>
{% endfor %}
